<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <title>Login</title>
</head>
<body>
  <div class="login-container">
    <div class="left-container">
      <div class="title"><span>Blog后台</span></div>
      <div class="input-container">
       ....
      </div>
    </div>
    <div class="right-container">
      <div class="actoin-container">
        <input type="text" style="width:120px;" name="editor_type" placeholder="1 : add || 2:delete">
        <span><input type = "submit" width = 12px height = 12px style = "background-color:rgb(30,30,30);color:rgb(191, 216, 219);border: 0px;" value = "登录" /></span>
      </form>
      </div>
    </div>
  </div>
</body>
</html>
